@import "~bootstrap/scss/bootstrap";

a {
    color: black;
}

.bg-navy {
    background-color: #1D2D3D;
}

.navbar-navy,
.navbar-navy .nav-link ,
.navbar-navy .navbar-brand ,
.navbar-navy .nav-item {
    color: lightgray;
}
.navbar-navy .navbar-brand:hover,
.navbar-navy .navbar-brand:focus {
    color: white;
}

#copyright
{
    overflow: hidden;
    padding: 4em 0em 2em 0em;
    border-top: 1px solid rgba(255,255,255,0.08);
    background: #1D2D3D;
}




